# macOS
.DS_Store

# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Captures and generated data
*.pcap
*.pcapng
*.csv

# Results
results/
